body{
	margin: 0;
	padding: 0;
	background: #101720;
}

* {
	margin: auto 0;
}

	@font-face {
	font-family: minecraft;
	src: url(Minecraft-Seven_2.ttf);	

	}

/*Шапка*/

.header{
	background: #38DF35;
	height: 100px;
	display: flex;
	box-shadow: 1px 5px 15px;
	justify-content: space-between;
	gap: 50px;
	border-radius: 0 0 30px 30px;
}

.logo{
	height: 50px;
}

.text{
	font-family: minecraft;
	color: #faf9f6;
	text-decoration: none;
}

.text-header{
	font-size: 30px;
}

.text-main{
	font-size: 25px;
	padding-bottom: 10px;
	text-align: center;
}

.text-goal{
	color: black;
	font-size: 25px;
	width: 1000px;
}

/*base*/
.main{
	height: 1200px;
	justify-content: center;
}

.background{
	width: 1350px;
	height: 230px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 50px;
	border-radius: 10px;
	margin-top: 110px;
}

.img-background{
	height: 200px;
	border-radius: 20px;
}

.bg-ends{
	background-image: url(endstone.png);
}

.bg-stone{
	background-image: url(stone.png);
}

.bg-grass{
	background-image: url(grass.png);
}
